<!-- 
<div class="shop-section">
<div class="box1 box">
    <div class="box-content">
        <h2>Buy Fresh Pizza</h2>
        <div class="box-img">
            <img src="../../../assets/az.jpg" alt="">
        </div>
    </div>
</div>
<div class="box">
    <div class="box-content">
      
    </div>
</div>
<div class="box">
    <div class="box4-content">
      <h2>Buy Fresh Pizza</h2>
    </div>
</div>
<div class="box">
    <div class="box2-content">
      
    </div>
</div>
</div> -->
<h2 class="text-center">Dashboard</h2>
<!-- <input type="file" (change)="onFileSelected($event)" />
<button (click)="uploadFile()">Upload File</button> -->

